name: Build and Deploy Pipeline

on:
  push:
    branches: [ "main" ]

env:
  IMAGE_NAME: witcherua/test-soundstorm
  IMAGE_TAG: 0.3   # ← тут змінюєш версію

jobs:
  # --- CI: Build and Push to DockerHub ---
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and Push image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: |
            ${{ env.IMAGE_NAME }}:latest
            ${{ env.IMAGE_NAME }}:${{ env.IMAGE_TAG }}

  # --- CD: Deploy on VM via self-hosted runner ---
  deploy:
    runs-on: self-hosted
    needs: build-and-push
    steps:
      - name: Stop old container
        run: |
          docker stop test-soundstorm || true
          docker rm test-soundstorm || true

      - name: Pull new image
        run: docker pull ${{ env.IMAGE_NAME }}:${{ env.IMAGE_TAG }}

      - name: Run new container
        run: docker run -d --name test-soundstorm --restart always -p 80:80 -p 443:443 -v /etc/letsencrypt:/etc/letsencrypt:ro ${{ env.IMAGE_NAME }}:${{ env.IMAGE_TAG }}

      - name: Health check
        run: |
          sleep 5
          curl -f http://localhost:80 || exit 1
