name: Build and Deploy

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-deploy:
    runs-on: self-hosted   # ключове — твій VM раннер
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Build Docker image
        run: docker build -t test-soundstorm .

      - name: Stop old container (if exists)
        run: |
          docker stop test-soundstorm || true
          docker rm test-soundstorm || true

      - name: Run new container
        run: docker run -d \
          --name test-soundstorm \
          --restart always \
          -p 80:80 -p 443:443 \
          -v /etc/letsencrypt:/etc/letsencrypt:ro \
          test-soundstorm
