name: CI/CD Deploy

on:
  push:
    branches:
      - main

jobs:
  build-and-push:
    runs-on: self-hosted
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Extract version
        run: echo "VERSION=$(date +'%Y.%m.%d')-${GITHUB_RUN_NUMBER}" >> $GITHUB_ENV

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            witcherua/test-soundstorm:latest
            witcherua/test-soundstorm:${{ env.VERSION }}

  deploy-and-scan:
    runs-on: self-hosted
    needs: build-and-push
    steps:
      - name: Deploy to VM via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          port: ${{ secrets.SERVER_PORT }}
          script: |
            docker pull witcherua/test-soundstorm:latest

            docker stop test-soundstorm || true
            docker rm test-soundstorm || true

            docker run -d \
              --name test-soundstorm \
              -p 80:80 \
              -p 443:443 \
              -v /etc/letsencrypt:/etc/letsencrypt:ro \
              --restart always \
              witcherua/test-soundstorm:latest

            sleep 20

            docker run --rm \
              --network host \
              -v /tmp/zap:/zap/wrk \
              ghcr.io/zaproxy/zaproxy:latest \
              zap-baseline.py -t http://localhost:80 -r zap_report.html

      - name: Upload ZAP Report
        uses: actions/upload-artifact@v4
        with:
          name: zap-report
          path: /home/${{ secrets.SERVER_USER }}/zap_report.html
