name: CI/CD Deploy

on:
  push:
    branches:
      - main

jobs:
  build-and-push:
    runs-on: self-hosted
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Extract version
        run: echo "VERSION=$(date +'%Y.%m.%d')-${GITHUB_RUN_NUMBER}" >> $GITHUB_ENV

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            witcherua/test-soundstorm:latest
            witcherua/test-soundstorm:${{ env.VERSION }}

  deploy:
    runs-on: self-hosted
    needs: build-and-push
    steps:
      - name: Deploy to VM via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          port: ${{ secrets.SERVER_PORT }}
          script: |
            docker pull witcherua/test-soundstorm:latest
            docker stop test-soundstorm-new || true
            docker rm test-soundstorm-new || true
            docker run -d \
              --name test-soundstorm-new \
              -p 80:80 \
              -p 443:443 \
              -v /etc/letsencrypt:/etc/letsencrypt:ro \
              --restart always \
              witcherua/test-soundstorm:latest

  zap-scan:
    name: ZAP Baseline Scan via Compose
    runs-on: ubuntu-latest
    needs: deploy
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install Docker Compose 
        run: | 
          sudo curl -L "https://github.com/docker/compose/releases/download/v2.24.5/docker-compose-linux-x86_64" -o /usr/local/bin/docker-compose 
          sudo chmod +x /usr/local/bin/docker-compose 
          docker-compose version

      - name: Set up Docker
        uses: docker/setup-buildx-action@v3

      - name: Run ZAP baseline scan
        run: |
          docker-compose up zap

      - name: Upload ZAP Report
        uses: actions/upload-artifact@v4
        with:
          name: zap-report
          path: zap-reports/zap_report.html
