name: Build and Deploy Pipeline

on:
  push:
    branches: [ "main" ]   # деплой запускається при пуші у main

permissions:
  contents: write

jobs:
  bump-version:
    runs-on: ubuntu-latest
    outputs:
      new_tag: ${{ steps.bump.outputs.new_tag }}

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Bump version
        id: bump
        run: |
          current=$(cat VERSION || echo "v0")
          num=${current#v}
          next=v$((num + 1))
          echo "$next" > VERSION
          echo "new_tag=$next" >> $GITHUB_OUTPUT

      - name: Commit new version
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git add VERSION
          git commit -m "Auto bump to ${{ steps.bump.outputs.new_tag }}" || echo "No changes to commit"
          git push

  build-and-push:
    runs-on: ubuntu-latest
    needs: bump-version
    env:
      IMAGE_NAME: witcherua/test-soundstorm   # твій DockerHub репозиторій
      IMAGE_TAG: ${{ needs.bump-version.outputs.new_tag }}

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and Push image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: |
            ${{ env.IMAGE_NAME }}:latest
            ${{ env.IMAGE_NAME }}:${{ env.IMAGE_TAG }}

  deploy:
    runs-on: self-hosted   # твій runner на VM
    needs: build-and-push

    steps:
      - name: Checkout repo on VM
        uses: actions/checkout@v4
        with:
          path: ~/soundstorm   # у домашньому каталозі користувача maxnrg09

      - name: Pull new image
        working-directory: ~/soundstorm
        run: docker compose pull

      - name: Stop old containers
        working-directory: ~/soundstorm
        run: docker compose down --remove-orphans

      - name: Deploy new version
        working-directory: ~/soundstorm
        run: docker compose up -d

      - name: Health check
        run: |
          sleep 5
          curl -f http://localhost:80 || exit 1
